/********************               General               ********************/

* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;

}

/* Medium devices General (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {}

/* Small devices General (phones, less than 768px) */
@media (max-width: 767.98px) {


    .main-container {
        width: 100%;
        padding: 0 0px;
        box-sizing: border-box;
        min-width: 320px;
        /* overflow-x: hidden; */
    }

    body {
        display: flex;
        justify-content: center;
        margin: 0;
    }

}








/********************               Titre               ********************/

.titre {
    padding-top: 20px;

}

.titre h1 {
    font-size: 1.7em;

}



/******** Medium devices Nav (tablets, less/equal than 1024px) ********/

@media (max-width: 1024px) {

    .titre h1 {
        font-size: 1.6em;

    }
}

/******** Small devices Nav (phones, less than 768px) ********/

@media (max-width: 767.98px) {
    .titre {
        padding-top: 0;
        margin: 21px;
    }

    .titre h1 {
        font-size: 1.5em;
        margin: 0;
    }
}








/********************               Nav               ********************/

nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 10px;


}

nav a:hover {
    text-decoration: none;
    border-top: 3px solid #0065fc;
    padding-top: 16px;
    color: #0065fc;
}

nav img {
    height: 24px;
    margin-top: 20px;

}

nav a {
    margin-left: 30px;
}

/******** Medium devices Nav (tablets, less/equal than 1024px) ********/

@media (max-width: 1024px) {}

/******** Small devices Nav (phones, less than 768px) ********/

@media (max-width: 767.98px) {


    nav {
        display: flex;
        width: 100%;
        padding-top: 0px;
        flex-direction: row;
        flex-wrap: wrap;


    }

    .navElements {
        display: flex;
        width: 100%;
        padding: 3px 0;
        border-top: transparent;

    }


    nav a {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: auto;
        padding: 15px;
        border-top: transparent;
        border-bottom: 3px solid #F2F2F2;


    }


    nav img {
        margin: 20px auto;
        height: 30px;
    }


    nav a:hover {
        text-decoration: none;
        padding: 15px;
        border-bottom: 2px solid #0065fc;
        border-top: none;
        transform: none;
        color: #0065fc;
    }



}









/********************               Recherche               ********************/


.zone-recherche {
    display: flex;
    justify-content: flex-start;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 0px;
}

.zone-recherche .fa-solid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 18px;
    left: 18px;
    top: 15px;
    color: #000000;
    background: white;
    border: 2px solid #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    background: #f2f2f2;
    width: 50px;
    height: 49px;
    left: 0px;
    top: 0px;
}

.zone-recherche .button {
    display: flex;
    color: white;
    align-items: center;
    background: #0065fc;
    border: 1px solid #0065fc;
    border-radius: 0px 15px 15px 0px;
    padding-left: 15px;
    padding-right: 15px;
}

.zone-recherche .button:hover {
    transform: scale(1.01);

}

.loupe {
    display: none;
}

input {
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    border-left: 0px;
    border-right: 0px;
    padding-left: 10px;
    padding-right: 10px;
    width: 205px;
}

input::placeholder {
    color: black;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    text-align: center;
}


/******** Medium devices Recherche (tablets, less/equal than 1024px) ********/

@media (max-width: 1024px) {

    input {
        width: 202px;
    }
}

/******** Small devices Recherche (phones, less than 768px) ********/

@media (max-width: 767.98px) {
    .zone-recherche {
        display: flex;
        justify-content: center;
        margin: 40px 20px;
    }

    input {
        width: 76%;
        padding-left: 0;
        padding-right: 150px;
    }

    .zone-recherche .loupe {
        display: flex;
        color: white;
        align-items: center;
        background: #0065fc;
        border: 1px solid #0065fc;
        border-radius: 15px;
        transform: scale(1.02);


    }

    .zone-recherche .loupe .fa-solid {
        color: #ffffff !important;
        background: transparent !important;
        border: 1px solid transparent !important;


    }

    .zone-recherche .button {
        display: none;

    }

    .zone-recherche .loupe:hover {
        transform: scale(1.05);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.45));

    }

    .zone-recherche .loupe .fa-solid:hover {
        transform: scale(1.03);


    }
}








/********************               Filtre               ********************/

.filtre {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    gap: 20px;
    margin-top: 2em;
    margin-bottom: 0px;

}

.icons-filtre {
    box-sizing: border-box;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4px 19px;
    gap: 10px;
    height: 50px;
    background: white;
    border: 2px solid #d9d9d9;
}

.icons-filtre {
    border-radius: 25px;
}

.icons-filtre:hover {
    background: #deebff;
    transform: scale(1.02);
}

.filtre-bloc {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

/******** Medium devices Filtre (tablets, less/equal than 1024px) ********/

@media (max-width: 1024px) {


    .filtre {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1px;
    }

    .titre-filtre {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

    }

    .filtre-bloc {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-left: 0;
    }

    .icons-filtre {
        display: flex;
        justify-content: flex-start;
        font-size: 15px;
    }
}

/******** Small devices Filtre (phones, less than 768px) ********/

@media (max-width: 767.98px) {

    .filtre {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: 0 15px;

    }

    .titre-filtre {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 0 0px;
    }

    .filtre-bloc {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 16px 0px;
        gap: 16px;
    }

    .icons-filtre {
        display: flex;
        flex-wrap: wrap;
        width: 45%;
        padding: 3px 11px;

    }
}









/********************               Info               ********************/

.info-titre {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.info-icon {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border: 1px solid #d9d9d9;
}

.info-icon i {
    color: #0065fc;
    font-size: 10px;
}

.info p {
    margin-top: 1em;
    margin-bottom: 1em;
}


/******** Small devices Hebergements And Populaires (phones, less than 768px) ********/

@media (max-width: 767.98px) {
    .info-titre {
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
        margin: 12px 15px;
    }
}







/********************               Hebergements And Populaires               ********************/


.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 6px 30px;
    box-sizing: border-box;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card:hover {
    transform: scale(1.01);

}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/******** Medium devices Hebergements And Populaires (tablets, less/equal than 1024px) ********/

@media (max-width: 1024px) {

    .hebergements-and-populaires {
        flex-direction: column;
    }
}

/******** Small devices Hebergements And Populaires (phones, less than 768px) ********/

@media (max-width: 767.98px) {

    section.hebergements {
        background-color: white;
    }

    .hebergements-and-populaires {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        margin-top: 0px;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }
}







/********************               Hebergements               ********************/


.hebergements {
    width: 65%;
}

.hebergements-title {
    margin-top: 20px;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 19px;
    transition: transform 500ms ease-in-out;
}

.hebergements-cards .card:hover {
    transform: scale(1.01);

}

.hebergements-cards .card {
    width: 29%;
}

.hebergements-cards img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 10px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.hebergements-cards .card-title {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    padding-top: 5px;
    padding-left: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 0;
}

.hebergements-cards .card-subtitle {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    padding-left: 5px;
    padding-bottom: 5px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
    padding-left: 5px;
}

.hebergements-cards .card-content {
    padding-top: 0px;
}

.hebergements-footer p {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
    padding-left: 4px;
}

.hebergements-footer:hover {
    transform: scale(1.01);

}

/******** Medium devices Hebergements (tablets, less/equal than 1024px) ********/

@media (max-width: 1024px) {

    .hebergements {
        width: 100%;
    }

    .hebergements-cards {
        gap: 15px;

    }

    .hebergements-cards .card {
        width: 29%;
    }

}

/******** Small devices Hebergements (phones, less than 768px) ********/

@media (max-width: 767.98px) {

    .hebergements {
        width: 100%;
        background-color: #DEEBFF;

    }

    .hebergements-cards {
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-top: 33px;
        margin-bottom: 30px;
        gap: 10px;
        padding: 0px;
    }

    .hebergements-cards .card {
        width: 100%;

    }

    .hebergements-cards .card-content {
        margin-left: 5px;
    }

}










/********************               Populaires               ********************/


.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: -10px;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}


.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}


.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/******** Medium devices Populaires (tablets, less/equal than 1024px) ********/

@media (max-width: 1024px) {

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

}

/******** Small devices Populaires (phones, less than 768px) ********/

@media (max-width: 767.98px) {


    .populaires {
        width: 100%;
        margin-top: 18px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .populaires-cards .card {
        display: flex;
        margin-top: 10px;
    }

    .populaires-title {
        margin-bottom: 10px;
    }

    .populaires-cards img {
        height: 145px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 16px;
        font-weight: 700;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}











/********************               Activité               ********************/


.activités {
    width: 100%;
    margin-top: 70px;
    background-color: white;

}

.activités-title {
    display: flex;
    padding: 0 20px;

}

.activités-cards {
    display: flex;
    flex-direction: row;
    padding: 20px;
    padding-top: 30px;
    width: 95%;
    gap: 20px;
    margin-top: 5px;
    justify-content: space-between;

}


.activités-cards .acti-card {
    background-color: white;
    border-radius: 20px;
    width: 25%;
    overflow: hidden;
    height: 400px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activités-cards .acti-card:hover {
    transform: scale(1.01);
}


.activités-cards img {
    width: 100%;
    height: calc(100% - 60px);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.activités-cards .card-content {
    height: 50px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.activités-cards .card-title {
    margin: 12px;

}



.activités-cards .card-rating {
    margin-bottom: 5px;
}



/******** Medium devices Activité (tablets, less/equal than 1024px) ********/

@media (max-width: 1024px) {


    .activités-cards {
        height: 300px;
        gap: 25px;
    }

    .activités-cards .acti-card {
        height: 260px;

    }

    .activités-cards img {
        height: 190px;

    }

    .activités-cards .card-title {
        font-size: 14px;

    }

    .activités-cards .card-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding-left: 5px;


    }
}

/******** Small devices Activité (phones, less than 768px) ********/

@media (max-width: 767.98px) {

    .activités {
        width: 100%;

    }

    .activités-title {
        margin: 20px 25px
    }

    .activités-cards {
        height: auto;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        padding: 0px;
        justify-content: space-between;

    }

    .activités-cards .acti-card {
        width: 85%;
        height: 250px;
        overflow: hidden;

    }
}









/********************               Footer               ********************/



.footer {
    display: flex;
    justify-content: flex-start;
    margin-top: 60px;
    background-color: var(--main-bg-color);
    padding: 0 20px;


}

.a-propos,
.nos-hebergements,
.assistances {
    width: 34%;
    gap: 0%;
}

.footer-title {
    font-size: 16px;
    font-weight: bolder;
}

.footer-subtitle:hover {
    transform: scale(1.01);
}

/******** Medium devices Footer (tablets, less/equal than 1024px) ********/

@media (max-width: 1024px) {}

/******** Small devices Footer (phones, less than 768px) ********/

@media (max-width: 767.98px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        margin-top: 60px;
        background-color: var(--main-bg-color);
        gap: 23%;

    }

    .footer-title {
        margin-left: 20px;
    }

    .footer-subtitle {
        margin-left: 20px;
    }
}